body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

.container {
  text-align: center;
  margin-top: 150px;
}

.lang-btn {
  position: absolute;
  top: 20px;
  padding: 8px 12px;
  cursor: pointer;
}

.right {
  right: 20px;
}

.left {
  left: 20px;
}

.neon-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 22px;
  color: #e0e7ff;
  border: 1px solid #64748b;
  text-decoration: none;
  border-radius: 8px;

   transition: 0.25s ease;

  box-shadow: 
    0 0 8px rgba(99, 102, 241, 0.2),
    0 0 15px rgba(168, 85, 247, 0.15);
}
.neon-btn:hover {
  transform: translateY(-2px);

  background: rgba(255, 255, 255, 0.08);

  box-shadow: 
    0 0 10px rgba(99, 102, 241, 0.35),
    0 0 20px rgba(168, 85, 247, 0.25),
    0 0 30px rgba(56, 189, 248, 0.2);
}
  .lang-btn {
  padding: 12px 22px;
  font-size: 16px;
  color: #0eb4dd;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(148, 163, 184, 0.4);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s ease;

  box-shadow: 
    0 0 8px rgba(99, 102, 241, 0.2),
    0 0 15px rgba(168, 85, 247, 0.15);
}

.lang-btn:hover {
  transform: translateY(-2px);

  background: rgba(255, 255, 255, 0.08);

  box-shadow: 
    0 0 10px rgba(99, 102, 241, 0.35),
    0 0 20px rgba(168, 85, 247, 0.25),
    0 0 30px rgba(56, 189, 248, 0.2);
}
