body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  max-width: 600px;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  color: #cbd5e1;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

.links {
  margin-top: 25px;
}

.links a {
  margin: 0 10px;
  color: #94a3b8;
  text-decoration: none;
}

.links a:hover {
  color: white;
}

  .lang-btn {
  padding: 12px 22px;
  font-size: 16px;
  color: #0eb4dd;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(148, 163, 184, 0.4);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s ease;

  box-shadow: 
    0 0 8px rgba(99, 102, 241, 0.2),
    0 0 15px rgba(168, 85, 247, 0.15);
}

.lang-btn:hover {
  transform: translateY(-2px);

  background: rgba(255, 255, 255, 0.08);

  box-shadow: 
    0 0 10px rgba(99, 102, 241, 0.35),
    0 0 20px rgba(168, 85, 247, 0.25),
    0 0 30px rgba(56, 189, 248, 0.2);
}
