body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  max-width: 600px;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  color: #cbd5e1;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

.links {
  margin-top: 25px;
}

.links a {
  margin: 0 10px;
  color: #94a3b8;
  text-decoration: none;
}

.links a:hover {
  color: white;
}

.lang-btn {
  padding: 12px 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  color: #00ffff;
  background: transparent;
  border: 2px solid #00ffff;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 0 0 5px #00ffff, 0 0 15px #00ffff;
}

.lang-btn:hover {
  background: #00ffff;
  color: black;
  box-shadow: 0 0 10px #00ffff, 0 0 25px #00ffff, 0 0 50px #00ffff;
  transform: scale(1.05);
}
